           {% extends 'base.html.twig' %}
            {% block sidebar %} {% endblock %}
            {% block navbar %} {% endblock %}
            {% block bodyTitle %}Se connecter{% endblock %}
            {% block body %} 
			<form action="{{ path('app_security_login') }}" method="post" >
				{% if error %}
					<div class="alert alert-dismissible alert-danger mb-4 p-4 bg-red-500 text-white rounded">
						<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					</div>
				{% endif %}

				<div class="mb-4">
					<label for="_username" class="block text-sm font-semibold text-gray-700">Email</label>
					<input type="email" name="_username" id="_username" value="{{ last_username }}" placeholder="abc@mail.com"
						class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
				</div>

				<div class="mb-6">
					<label for="_password" class="block text-sm font-semibold text-gray-700">Password</label>
					<input type="password" name="_password" id="_password" placeholder="*****"
						class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" />
				</div>

				<button type="submit" class="w-full bg-indigo-600 text-white py-3 rounded-lg hover:bg-indigo-700 transition duration-200">
					Se connecter
				</button>
			</form>
		
{% endblock %}	
